
/*----------------------------------------------------------------------- Footer------------------------------------------------------------------------------ */
.footer {
    text-align: center;
    background: #ddd;
  }
  .footer1{
    font-size: 15px;
    color: rgb(38, 38, 38);
  }