<div class="footer">
    <hr>
    
    <h2> -HMH- <br> Desarrollador Web Freelance</h2>
    <p>
        <a href="https://mail.google.com/"><i class="bi bi-envelope-at"></i></a>
        
        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        
        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
        
        <a href="https://web.whatsapp.com/"><i class="bi bi-whatsapp"></i></a>

        <a href="https://github.com/"><i class="bi bi-github"></i></a>

        <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
        
    </p>

    <hr>
</div>