<div class="footer">
    <h2>Contacto</h2>
    <p class="footer1">
        <i class="bi bi-envelope-at"></i>
        Mail: Lorem@gmail.com <br>
        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        Instagram: Lorem.lol <br>
        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
        Facebook: Loremlol <br>
        <a href="https://web.whatsapp.com/"><i class="bi bi-whatsapp"></i></a>
        Whatsapp: 15-Lorem(56736)-000
    </p>
</div>