<div class="footer">
    <h2>Contacto</h2>
    <p>
        <i class="bi bi-envelope-at"></i>
        <span>{{miPortafolio.m}}</span>
         <br>

        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        <span>{{miPortafolio.i}}</span>
        <br>
        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
        <span>{{miPortafolio.f}}</span>
        <br>
        <a href="https://web.whatsapp.com/"><i class="bi bi-whatsapp"></i></a>
        <span>{{miPortafolio.w}}</span>
        <br>
    </p>
</div>