

/*----------------------------------------------------------------------- Footer------------------------------------------------------------------------------ */
.footer {
    text-align: center;
    background: var(--footer-background);
    margin: 2% 4% 1% 2%;
    padding: 30px 0px;
    color: var(--text-color);
  }
div>p{
    font-size: 15px;
  }
i{
  color: var(--text-color);
  margin: 10px;
}