
  

    /*------------------------------------------------------------------------contenido-------------------------------------------------------------------------*/

.item2{
    padding: 15px;
  }
  .containerColumn {
    display: grid;
    grid-template-columns: 100%;
    background-color: var(background-color);
    margin: 0% 4% 0% 2%;
    color: var(--text-color);
  }
  
  .containerColumn> div{
    background-color: var(--colum-container-background-color);
    border-radius: 3px;
  }
  
  img{
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
  }
  
  dt>p{
    font-size: 20px;
  }
  dt>h2,p{
   text-align: left;
  }


  .circulo { /*modificar el alineamiento del texto y los márgenes atomáticos.*/
    border: 1px;
    display: inline-block;
    width: auto;
    margin: auto;
    text-align: left;
 }

 #hys{
  margin: 0 0 0 50px ;
}