<div class="containerColumn">

    <div class="item2">
        
            <a href="" onclick="est(); return false;"><i class="bi bi-eye btn-bi"></i></a>

            <button style="margin-right: 20px;" class="btn-bi" *ngIf="isLogged"  onclick="est1(); return false;">
                Nuevo estudio
            </button> 

        <div class="containerColumn">
            <div id="est1" style="float: right; margin: 60px -110px 0 0; display: none;" >
                <div class="row">
                        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            
                            <label for="nombreE">Titulo del estudio</label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="nombreE" [(ngModel)]="nombreE" required>
                            </div>
                                <label for="descripcionE">Descripcion del estudio</label>
                            <div class="form-group">
                                <textarea cols="161" rows="10" type="text" class="form-control tam" name="descripcionE" [(ngModel)]="descripcionE" required></textarea>
                            </div>
                            
                            <button class="btn-bi" style="margin-right: -20px;" onclick="location.reload()">
                                Agregar Estudio
                            </button>
                        </form>
                </div>
            </div>
        </div>

        
            <h3>Estudios</h3>
        <hr>
            <div  id="est">
                <dl *ngFor=" let Conocimiento of conocimiento">
                    <dt *ngIf="isLogged">
                                
                       <button style="margin-left: 15px; padding: 2px;" class="btn-bi" routerLink="editcono/{{Conocimiento.id}}">
                            <i class="bi bi-pencil-fill"></i><h4>EDITAR</h4> 
                        </button>
                        
                        <button style="padding: 2px;"  class="btn-bi" (click)="delete(Conocimiento.id)">
                            <i class="bi bi-trash-fill"></i> <h4>BORRAR</h4>
                        </button>
                    </dt>
                
                    <dt>
                        <h2>
                            {{Conocimiento.nombreE}}
                        </h2>
                    
                        <p>
                            {{Conocimiento.descripcionE}}
                        </p>
                    </dt>
                </dl>
            </div> 
        <hr>

    </div>
</div>