<!----------contenido portafolio--------------------------------------------------------------------------------->
<div class="contenedorTB">

    <!-------------------------------------------top-bottom------------------------------------------>

        <div style="float: right;">
            <a href="#end" class="btn-mov" style="bottom: 80px;">
                <i class="bi bi-arrow-bar-down"></i>
            </a>
            <a href="#top" class="btn-mov" style="bottom: 150px;">
                <i class="bi bi-arrow-bar-up"></i>
            </a>
        </div>

</div>

<div class="containerColumn">

    <div class="item1">
        <h1><u>{{miPortafolio.nombre}}</u></h1>
        
        <h2>Tu profesion Lorem ipsum dolp</h2>
        <h2>Acerca de mi Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque qui autem ducimus est eius eveniet officia, unde culpa suscipit sint error quasi quam corrupti molestias reiciendis animi consequatur amet quibusdam porro? Neque, eos! Deleniti, incidunt animi amet dolor, unde dicta laudantium mollitia ut eveniet, similique quidem nisi praesentium pariatur? Enim?</h2>
    </div>

    <!-------------------------------------------contenido------------------------------------->
    
    <h2 class="item2">Certificados?</h2>
    <div class="item6">
            <p><span>fecha</span> Llooe.</p>
    </div> 

    <h2 class="item3">Otros conocimientos</h2>
    <div class="item7">
        <p><span>fecha</span> Lorem. Quibusdam nisi deleniti incidunt sit dolore magni.</p>
    </div>   

    <h2 class="item4">Proyectos</h2>
    <div class="item8">
        <p><span>fecha</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, optio! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa deleniti sed blanditiis eos consequatur odio tenetur corporis dicta. Harum culpa maiores commodi dignissimos aut, eius eum eos minus nobis, sequi adipisci perferendis officiis neque dicta molestias ab sint quaerat rerum odit debitis id. Quibusdam nisi deleniti incidunt sit dolore magni.</p>
    </div>  

    <h2 class="item5">Futuros proyectos</h2>
    <div class="item9">
        <p><span>fecha</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, optio! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, qui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa deleniti sed blanditiis eos consequatur odio tenetur corporis dicta. Harum culpa maiores commodi dignissimos aut, eius eum eos minus nobis, sequi adipisci perferendis officiis neque dicta molestias ab sint quaerat rerum odit debitis id. Quibusdam nisi deleniti incidunt sit dolore magni.</p>
    </div>

</div>


