<!----------contenido portafolio--------------------------------------------------------------------------------->
<div class="contenedorTB">

    <!-------------------------------------------top-bottom------------------------------------------>

        <div style="float: right;">
            <a href="#end" class="btn-mov" style="bottom: 80px;">
                <i class="bi bi-arrow-bar-down"></i>
            </a>
            <a href="#top" class="btn-mov" style="bottom: 150px;">
                <i class="bi bi-arrow-bar-up"></i>
            </a>
        </div>

</div>

<div class="containerColumn">

    <div class="item2">
        
            <a href="" onclick="hide(); return false;"><i class="bi bi-eye btn-bi"></i></a>
            <button style="margin-right: 20px;" class="btn-bi" routerLink="/nuevaexp" *ngIf="isLogged">
                Nueva Experiencia
            </button> 
        
            <h3>Experiencia</h3>
        <hr>
            <div  id="hide">
                <dl *ngFor=" let Experiencia of expe">
                    <dt *ngIf="isLogged">
                                
                        <button style="margin-left: 15px; padding: 2px;" class="btn-bi" routerLink="editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i><h4>EDITAR</h4> 
                        </button>
                        
                        <button style="padding: 2px;"  class="btn-bi" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> <h4>BORRAR</h4>
                        </button>
                    </dt>
                
                    <dt>
                        <h2>
                            {{Experiencia.nombreE}}
                        </h2>
                    
                        <p>
                            {{Experiencia.descripcionE}}
                        </p>
                    </dt>
                </dl>
            </div> 
            <hr>

    </div>
                            




<!--
        <div> <a href="" onclick="hide(); return false;"><i class="bi bi-plus btn-bi"></i></a>
            <h3>Certificados</h3> 
            <div id="hide">
                <dl *ngFor=" let certificados of certificadoList">
                        
                    <img [src]="certificados.imgLogo" alt="">
                    
                    <dt>
                        <p>{{certificados.titulo}}</p>
                    </dt>
                    <dt>
                        {{certificados.fecha}}
                    </dt>
                    <dt>
                        {{certificados.certificado}}
                    </dt>
                </dl>
            </div> 

        </div>
<hr>
        
        <div> <a href="" onclick="hide1(); return false;"><i class="bi bi-plus btn-bi"></i></a>
            <h3>Habilidades y conocimientos</h3>
            <div  id="hide1">
                <dl *ngFor=" let habilidadesConocimientos of habilidadesConocimientosList">
                    <dt>
                        <p>{{habilidadesConocimientos.otro}}</p>
                        {{habilidadesConocimientos.tipo}}
                    </dt>
                </dl>
            </div>   
        </div>
<hr>

        
        <div> <a href="" onclick="hide2(); return false;"><i class="bi bi-plus btn-bi"></i></a>
            <h3>Proyectos</h3>
            <div  id="hide2">
                <dl *ngFor=" let proyectos of proyectosList">
                    <dt>
                        <p>{{proyectos.nombre}}</p>
                        {{proyectos.url}}
                    </dt>
                </dl>
            </div>  
        </div>

<hr>
        
        <div> <a href="" onclick="hide3(); return false;"><i class="bi bi-plus btn-bi"></i></a>
            <h3>Futuros proyectos</h3>
            <div id="hide3">
                <dl *ngFor=" let futurosProyectos of futurosProyectosList">
                    <dt>
                        <p>{{futurosProyectos.nombre}}</p>
                    </dt>
                </dl>
            </div>
        </div>

<hr>
    </div>
-->

</div>    

