
 
 /*-------------------------------------------------------------------imagenes encabezado y usuario-------------------------------------------------------------------------*/
 .contenedorE{
  background-color: #ffffff;
  margin: 0% 4% 0% 2%;
  border-radius: 8px 8px 0 0;
}
 img {
    position: relative;
    width: 100%;
    height: auto;
  }

  .encabezado {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  .usuario {
    width: 250px;
    height: 30%;
    /*img redonda*/
    border-radius: 50%;  
    z-index: 2;
    margin: -7% 8% 0 6%; 
  }
  .logo {
      width: 30px;
      height: 30px;
      border-radius: 0px;
      margin-top: 10px;
      margin-left: -25px;
    }